* {
  margin: 0;
  padding: 0;
}

$headerHeigth: 60px;

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

header {
  background-color: #2f2f2f;
  height: $headerHeigth;

  .content {
    height: $headerHeigth;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-typography {
      margin: 0;
    }
  }

  .user-account {
    display: flex;
    align-items: center;
  }
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page {
  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }

  .blog-card {
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    h3 {
      margin: 0;
      margin-top: 5px;
    }
    small {
      color: gray;
    }
    .blog-card-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      span {
        color: gray;
      }
    }
  }
}

.create-page{
    .search-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
      }

      .input-title{
          border: none;
          outline: none;
          font-weight: bold;
          font-size: 18px;
          padding: 0;
      }

      .ql-editor{
     padding: 0;
      }
}
